.red{
    background:rgb(214, 53, 53);
    border-radius:5rem;
    width:50%;
    margin:0 auto;
  }
  
  .green{
    background:rgb(130, 223, 130);
    border-radius:5rem;
    width:50%;
    margin:0 auto;
  }